    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
        height: 65vh;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url("./Assets/background-image.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size:cover;
    }
    
    .home-page-jumbotron{
        padding: 2rem 1rem;
        margin-bottom: 1rem;
    }
    
    .home-page-search-form{
        width:50%;
    }
    
    .home-page-search-box{
        width:80% !important;
    }
    
    .main-page-paragraph{
        margin-bottom: 0;
    }
    .main-page-note{
        text-align: center;
    }